// out: ../css/style.css
@bodyColorSld1: #849d8f;
@bodyColorSld2: #8996a6;
@bodyColorSld3: #a08e86;

@bodyColorTxt: white;

@linkColorHover: #e84d37;
@linkColorActive: #e84d37;
@linkColorVisit: #d07058;

@userBlockColor: rgba(255, 255, 255, 0.2);
@userBlockIconColor: white;

@bkgColorLinkHover: #f8f7f4;
@txtColorlinkHover: black;

@txtMenuColor: black;
@menuLinkHover: #fbded7;
@menuLinkActive: #f6b5a5;

@formTextColor: #999999;

@featuresTxtColor: #323232;
@featuresBkgColor: #efe2ca;

@blogNewBkgColor: white;
@blogSubBkgColor: #f8f7f4;

@SocialBtnColor: rgba(255, 255, 255, 0.8);
@SocialBtnColorHvr: rgba(255, 255, 255, 1.0);

@contactsBkgColor: rgba(255, 255, 255, 0.98);
@contactsTxtColor: black;

@sortBlockColor: rgba(255, 255, 255, 0.2);
@sortBlockHover: #ffffff;

@rangeColor: rgba(248, 247, 244, 0.5);
@rangeColorActive: #f8f7f4;

@pageNavHvrColor: rgba(255, 255, 255, 0.2);

.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    color: @bodyColorTxt;

     input[type="radio"] {
        display: none;
    }
}

.text-param (@font-size, @line-height, @color: white) {
    font-size: @font-size;
    line-height: @line-height;
    color: @color;
}

.rounded-angle (@radius: 20px) {
    border-radius: @radius;
}

h2 {
    .text-param(35px, 41px);
}

h3 {
    .text-param(24px, 30px);
}

a {
    .text-param (16px, 18px);

    font-family: "Roboto" "Arial" serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.main-header {
    position: relative;
    width: 1200px;
    min-height: 104px;
    margin: 0 auto;
//    margin-bottom: 533px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 154px;
    height: 64px;
    color: rgba(255, 255, 255, 0);
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
}

.main-navigation {
    line-height: 18px;

    ul {
        list-style: none;
        padding: 0;
    }

    a:hover {
        background-color: @bkgColorLinkHover;
        color: @txtColorlinkHover;

        svg {
                fill: @txtColorlinkHover;
        }

         span {
            svg {
                fill: @txtColorlinkHover;
            }
        }
    }

    a:active {
        box-shadow: inset 0px 0px 5px 0px black;
    }
}

.shop-links {
    position: relative;
    float: left;
    min-width: 349px;
    margin-left: 188px;
    margin-top: 23px;
}

.shop-link {
    display: inline-block;
    margin-right: -4px;

    .visit {
        color: #ffffff;
        background-color: @linkColorVisit;
    }
}

.shop-link > a {
    .rounded-angle;
    display: block;
    padding: 7px 14px;
//                border-bottom: 1px solid white;
}

.shop-link:last-child {
    margin-right: 0;
}

.menu {
    .rounded-angle(5px);
    position: absolute;
    display: none;
    top: 30px;
    width: 143px;
    min-height: 171px;
    background-color: @bkgColorLinkHover;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;

    li {
        a {
            .text-param (14px, 16px);
            display: block;
            margin-bottom: 5px;
            padding: 5px 5px;
            padding-left: 20px;
            font-weight: 400;
            text-align: left;
            color: @txtMenuColor;
        }

        a:hover {
            background-color: @menuLinkHover;
        }

        a:active {
            background-color: @menuLinkActive;
            box-shadow: none;
        }
    }

    li:first-child {
        a {
            margin-top: 7px;
            margin-bottom: 12px;
            font-weight: 600;
        }
    }

    .visit {
        color: #ffffff;
        background-color: @linkColorVisit;
    }
}

.catalog:hover + .menu,
.menu:hover {
    display: block;
}

.user-block {
    position: relative;
    float: right;
    margin-right: 30px;

    ul {
        margin-top: 22px;
        min-height: 33px;

        li {
            position: relative;
            display: inline-block;
            margin-right: 5px;

            a {
                .rounded-angle;
                .text-param (14px, 16px);
                display: block;
                padding: 7px 0px;
                text-align: right;
                vertical-align: middle;
                background-color: @userBlockColor;
            }

            svg {
                fill: @userBlockIconColor;
            }

        }

        li:first-child {
            width: 33px;
            a {
                padding: 6px 0px;
                text-align: center;
                color: rgba(255, 255, 255, 0);
            }
        }

        li:nth-child(2) {
            width: 93px;
            a {
                padding-right: 20px;
            }
        }

        li:last-child {
            width: 117px;
            margin-right: 0;

            a {
                 padding-right: 37px;
            }
        }
    }
}

.search-form {
    .rounded-angle(5px);
    position: absolute;
    left: -305px;
//    width: 341px;
//    height: 84px;
    display: none;
    padding: 20px 15px;
    background-color: @bkgColorLinkHover;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

    input[type="search"] {
        .rounded-angle(5px);
        .text-param(14px, 24px);
        width: 311px;
        height: 44px;
        font-weight: 400;
        color: @formTextColor;
        border: 1px solid #d3d3d2;
        box-sizing: border-box;
        background-color: #ffffff;
    }
}

.search:hover + .search-form,
.search-form:hover,
.search-form:active {
    display: block;
}

.enter {
    span {
        position: absolute;
        left: 10px;
        top: 5px;
    }
}

.basket {
    span {
        position: absolute;
        left: 10px;
        top: 5px;
    }
}

.mode {
    float: right;
    text-align: right;

    span {
        .text-param(14px, 20px);
    }

    .phone-number {
        .text-param(22px, 24px);
    }
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    width: 1140px;
}

.site-wrapper {
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slyder {
    position: relative;
    padding-top: 280px;
    margin-left: -5px;
    margin-bottom: 40px;
    text-align: center;

    h2 {
        .text-param(60px, 60px);
        width: 700px;
        margin: 0 auto;
        margin-bottom: 30px;

        font-weight: 800;
    }

}

.slyder-item {
    display: none;
}

.slyder-controls {
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 20;

    font-size: 0;
}

.slyder-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~.site-wrapper #slide1,
#btn-2:checked ~.site-wrapper #slide2,
#btn-3:checked ~.site-wrapper #slide3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper {
    background-color: @bodyColorSld1;
    background-image: url(../img/slide1.png);
}

#btn-2:checked ~ .site-wrapper {
    background-color: @bodyColorSld2;
    background-image: url(../img/slide2.png);
}

#btn-3:checked ~ .site-wrapper {
    background-color: @bodyColorSld3;
    background-image: url(../img/slide3.png);
}

#btn-1:checked ~.site-wrapper label[for="btn-1"],
#btn-2:checked ~.site-wrapper label[for="btn-2"],
#btn-3:checked ~.site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

.btn {
    .text-param(18px, 20px);
    .rounded-angle;
    padding: 12px 20px;
//    background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
//    background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
//    background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
//    background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn:hover {
    background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
    box-shadow: 0px 2px 2px 0px #ac1000;
}

.btn:active {
    background: linear-gradient(0deg, #f26843 0%, #e74a35 100%);
    background-color:  rgba(0, 0, 0, 0.07);
    box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.slyder-btn {
    display: inline-block;
    padding: 12px 50px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.buy-btn {
    float: right;
    margin-right: 5px;
}

.banner {
    .rounded-angle (15px);
    .text-param(18px, 20px);
    width: 526px;
    min-height: 199px;
    padding: 15px 17px;
    text-align: left;

    h2 {
        margin: 0;
    }

    p {
        margin-bottom: 45px;
    }
}

.banner:first-child {
    float: left;
    margin-left: -5px;
    background-color: #cc345a;
    background-image: url(../img/malina-bkg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.banner:last-child {
    float: right;
    background-color: #633a25;
    background-image: url(../img/chocolate-bkg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.banners {
    margin-bottom: 35px;
}

.hits {
    margin-bottom: 20px;
}

.product {
    .rounded-angle (5px);
    position: relative;
    display: inline-block;
    margin-right: 18px;
    margin-left: -5px;
    min-height: 330px;
    width: 269px;
    vertical-align: top;

    a {
        .text-param (16px, 20px);
        display: block;
    }

    a:nth-child(3) {
        margin-bottom: 20px;
    }

    .btn-fast-show {
        display: none;
        width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.hit::before {
    position: absolute;
    content: "";
    width: 61px;
    height: 61px;
    background-image: url("../img/hit-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.product:hover {
    background-color:  rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.product:hover .btn-fast-show {
    display: block;
}

.product:nth-child(4n),
.product:last-child {
    margin-right: 0;
}


.ice-cream {
    margin: 0;
    margin-bottom: 12px;
}

.price {
    .text-param (45px, 45px);
    position: absolute;
    top: 215px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

    span {
        .text-param (35px, 45px);
    }
}

.features {
    .rounded-angle (10px);
    margin: 0;
    margin-left: -5px;
    margin-bottom: 40px;
    padding: 0 15px;
    padding-top: 1px;
    padding-bottom: 5px;
    color: @featuresTxtColor;
    background-color: @featuresBkgColor;

    h3 {
        color: @featuresTxtColor;
        margin-bottom: 5px;
    }
}

.left-column {
    float: left;
    width: 550px;

    .feature:first-child::before {
        position: absolute;
        left: -55px;
        top: -15px;
        content: "";
        width: 49px;
        height: 49px;
        background-image: url("../img/ice-cream-icon.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .feature:nth-child(2)::before {
        position: absolute;
        left: -55px;
        top: -12px;
        content: "";
        width: 49px;
        height: 49px;
        background-image: url("../img/list-icon.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.right-column {
    float: right;
    width: 550px;

    .feature:first-child::before {
        position: absolute;
        left: -55px;
        top: -15px;
        content: "";
        width: 49px;
        height: 49px;
        background-image: url("../img/cow-icon.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .feature:nth-child(2)::before {
        position: absolute;
        left: -55px;
        top: -12px;
        content: "";
        width: 49px;
        height: 49px;
        background-image: url("../img/temp-icon.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.feature {
    position: relative;
    font-weight: 400;
    margin-left: 60px;
    margin-bottom: 20px;
}

.blog {
    margin-left: -5px;
    margin-bottom: 40px;
}

.blog-new {
    .rounded-angle (15px);
    float: left;
    width: 540px;
    min-height: 210px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: @blogNewBkgColor;
    background-image: url("../img/blog-bkg.jpg");
    background-repeat: no-repeat;
    background-position: center;

    h2 {
        .text-param (16px, 22px);
        margin-bottom: 4px;
        color: @featuresTxtColor;
    }

    a {
        .text-param (24px, 30px);
        display: block;
        width: 300px;
        color: @featuresTxtColor;
        text-align: left;
        text-decoration: underline;
    }

    a:hover {
        color: @linkColorHover;
    }
}

.blog-sub {
    float: right;
    width: 520px;
    padding: 0px 16px;
    padding-top: 13px;
    padding-bottom: 35px;
    font-weight: 400;
    color: @featuresTxtColor;
    border: 5px solid #92cdff;
    border-image: url(../img/border-bkg.png) 5 round;
    .rounded-angle (15px);
    background-color: @blogSubBkgColor;

    p {
        margin-bottom: 35px;
    }

    input[type="email"] {
        .text-param (16px, 24px);
        padding: 9px 0;
        padding-left: 20px;
        margin-right: 10px;
        width: 373px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color:  rgba(178, 178, 178, 52);
        box-sizing: border-box;
    }
}

.map {
    position: relative;
    width: 1200px;
    margin-left: -35px;
    height: 430px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: center;

    iframe {
        height: 430px;
        width: 1200px;
        border: none;
    }

}

.contacts {
    .rounded-angle(15px);
    .text-param(14px, 20px);
    position: absolute;
    top: 60px;
    left: 870px;
    padding: 0 25px;
    width: 252px;
    height: 305px;
    font-weight: 400;
    color: @contactsTxtColor;
    background-color: @contactsBkgColor;

    p {
        width: 190px;
//        margin-left: 25px;
        margin-bottom: 0px;
    }

    p:first-child {
        margin-top: 30px;
    }

    p:nth-child(3) {
        margin-bottom: 5px;
    }

    p:nth-child(5) {
        margin-bottom: 25px;
    }

    b {
        .text-param(18px, 24px);
        display: block;
//        margin-left: 25px;
        margin-bottom: 20px;
        width: 240px;
        font-weight: 700;
        color: @contactsTxtColor;
    }

    b:nth-child(4) {
        display: block;
        margin-bottom: -15px;
    }
}

.btn-contacts {
    display: block;
    margin: 0 auto;
//    width: 252px;
}

.main-footer {
    width: 1200px;
    min-height: 115px;
    margin: 0 auto;
}

.social-links {
    float: left;
    margin: 0;
    margin-top: 35px;
    margin-left: 25px;
    padding: 0;
    width: 210px;
    list-style: none;

    li {
        .rounded-angle;
        display: inline-block;
//        padding: 3px 3px;
        margin-right: 7px;
        vertical-align: top;
        background-color:  rgba(255, 255, 255, 0.5);

        a {
            .rounded-angle;
            display: block;
            width: 32px;
            height: 32px;
            margin: 3px 3px;
            font-size: 0px;
            text-align: center;
            background-color: @bodyColorSld1;

            svg {
                fill: @SocialBtnColor;
            }

        }

        a:hover {
            svg {
                fill: @SocialBtnColorHvr;
            }
        }

        a:active {
            box-shadow: 0px -1px 2px 0px black;

             svg {
                fill: @SocialBtnColor;
            }
        }
    }
}

.information-links {
    position: relative;
    float: left;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    list-style: none;

    a {
        .text-param(13px, 18px);
        font-weight: 400;
    }

    a:hover {
        color: @linkColorHover;
    }

    .providers {
        a {
            font-weight: 700;
        }
    }

    .providers::before {
        position: absolute;
        top: 3px;
        left: -20px;
        content: "";
        width: 15px;
        height: 13px;
        background-image: url("../img/heart-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.information-links:nth-child(2) {
    margin-left: 210px;
}

.information-links:nth-child(3) {
    margin-left: 33px;
}

.copyright {
    position: relative;
    float: right;
    margin-top: 60px;
    margin-right: 20px;
    .text-param(13px, 18px);
    font-weight: 400;

    a {
        .text-param(12px, 18px);
        font-weight: 400;
    }

    a::before {
        position: absolute;
        top: -42px;
        left: 0px;
        content: "";
        width: 108px;
        height: 38px;
        background-image: url("../img/academy-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    a:hover {
        color: @linkColorHover;
    }
}

//catalog
.catalog {
    background-color: @bodyColorSld1;
}

.breadscrumbs {
    margin-top: 25px;
    ul {
        padding-left: 25px;

        li {
            display: inline-block;
            vertical-align: top;

            a {
                .text-param(14px, 16px);
                font-weight: 400;
            }
        }
    }
}

.catalog h1 {
    .text-param(35px, 41px);
    margin-top: -15px;
    margin-left: -5px;
    font-weight: 700px;
}

.sort-form {
    margin-left: -5px;
    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: top;
        }
    }
}

.criteries {
    .main-criterion {
        .text-param(14px, 16px);
        display: block;
        margin-bottom: 10px;
        margin-left: 16px;
        font-weight: 500;
    }

    label {
       .text-param(16px, 18px);
        font-weight: 500;
        cursor: pointer;
    }
}

.criteries > li {
    margin-right: 10px;
    margin-bottom: 15px;
}

.criteries > li:first-child {
    width: 194px;
}

.criteries > li:nth-child(2) {
    width: 220px;
}

.criteries > li:nth-child(3) {
    width: 415px;
}

.criteries > li:nth-child(4) {
    width: 703px;
}

.criteries > li:last-child {
    width: 144px;
    margin-top: 25px;
}

.criterion {
    .rounded-angle;
    background-color: @sortBlockColor;
}

.criterion {
    li {
        position: relative;
        padding: 7px 0;
    }
}

.criterion-link {
    position: relative;
    .text-param(16px, 18px);
    display: block;
    padding: 9px 0;
    padding-left: 15px;
    font-weight: 500;
    text-align: left;
}

.arrow {
    position: absolute;
    left: 170px;
    top: 7px;
}

.arrow-icon {
    fill: rgb(255, 255, 255);
}

.criterion-link:hover {
    color: #000000;
    background-color: @sortBlockHover;
}

.criterion-link:hover {
    .arrow-icon {
        fill: rgb(0,0,0);
    }
}

.criterion-list {
    display: none;
}

.criterion-range {
    padding: 16px 0;
}

.range {
    margin: 0 auto;
    width: 188px;
    height: 4px;
    background-color: @rangeColor;
}

.range-active {
    position: relative;
    margin-left: 25px;
    height: inherit;
    width: 107px;
    background-color: @rangeColorActive;
}

.range-toogle {
    position: absolute;
    top: -8px;
    width: 21px;
    height: 21px;
    background-color: @rangeColorActive;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.min {
    left: -5px;
}

.max {
    left: 90px;
}

.criterion-fatness {

    li {
        margin-right: 45px;
    }

    li:first-child {
        margin-left: 45px;
    }

    li:last-child {
        margin-right: 0;
    }
}

.custom-radio {
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    border: 1px solid #f8f7f4;
    border-radius: 50%;
}

.custom-radio-check {
    display: none;
    width: 14px;
    height: 14px;
    margin: 3px;
    background-color: #f8f7f4;
    border-radius: 50%;
}

.catalog {
    input[type="radio"]:checked + .custom-radio > .custom-radio-check {
       display: block;
    }

    input[type="checkbox"] {
        display: none;
    }
}

.criterion-fillers {
    label::before {
        position: absolute;
        left: -30px;
        content: " ";
        width: 18px;
        height: 18px;
        border: 1px solid #f8f7f4;
        .rounded-angle(3px);
    }

    input[type="checkbox"]:checked + label::before {
        background-image: url(../img/checkbox-icon-check.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    li:first-child {
        margin-left: 45px;
    }

    li {
        margin-right: 45px;
    }

    li:last-child {
        margin-right: 0;
    }
}

.sort-form .enter {
    display: block;
    padding: 8px 0;
    .text-param(16px, 18px);
    font-weight: 500;
    border: 2px solid white;
    box-sizing: border-box;
}

.sort-form .enter:hover {
    color: #000000;
    background-color: @sortBlockHover;
}

.sort-form .enter:active {
    color: #000000;
    background-color: @sortBlockHover;
     box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.64);
}

.products-nav {
    ul {
        float: right;

        li {
            display: inline-block;
            vertical-align: top;
            a {
                display: block;
                .text-param(16px, 18px);
                font-weight: 500;
                padding: 5px 10px;
//                width: 26px;
//                height: 26px;
                border-radius: 50%;
            }

            a:hover {
                background-color: @pageNavHvrColor;
            }

            a:active {
                color: #000000;
                background-color: #ffffff;
            }

            .active {
                color: #000000;
                background-color: #ffffff;
            }
        }
    }
}

.forward,
.backward {
    fill: rgb(255,255,255);
}

.forward {
//    width: 26px;
//    height: 26px;
    opacity: 0.2;
}

.catalog {
    .container {
        border-bottom: 1px solid rgba(248, 247, 244, 0.5);
    }
}

