// out: ../css/style.css
@bodyColorSld1: #849d8f;
@bodyColorSld2: #8996a6;
@bodyColorSld3: #a08e86;

@userBlockColor: rgba(255, 255, 255, 0.2);

@bkgColorLinkHover: #f8f7f4;
@txtColorlinkHover: black;

@txtMenuColor: black;
@menuLinkHover: #fbded7;
@menuLinkActive: #f6b5a5;

.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    color:white;
    background-color: @bodyColorSld1;
}

.text-param (@font-size, @line-height, @color: white) {
    font-size: @font-size;
    line-height: @line-height;
    color: @color;
}

.rounded-angle (@radius: 20px) {
    border-radius: @radius;
}

a {
    .text-param (16px, 18px);

    font-family: "Roboto" "Arial" serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.main-header {
    position: relative;
    width: 1200px;
    min-height: 104px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    width: 154px;
    height: 64px;
}

.main-navigation {
    line-height: 18px;

    ul {
        list-style: none;
        padding: 0;
    }

    a:hover {
        background-color: @bkgColorLinkHover;
        color: @txtColorlinkHover;
    }

    a:active {
        box-shadow: inset 0px 0px 5px 0px black;
    }
}

.shop-links {
    float: left;
    min-width: 349px;
    margin-left: 178px;
    margin-top: 23px;

    li {
        display: inline-block;
        margin-right: -4px;

        a {
            .rounded-angle;
            display: block;
            padding: 7px 14px;
//            border-bottom: 1px solid white;
        }
    }

    li:last-child {
        margin-right: 0;
    }
}

.menu {
    .rounded-angle(5px);
    position: absolute;
    top: 43px;
    left: 170px;
    width: 143px;
    min-height: 171px;
    background-color: @bkgColorLinkHover;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

    li {
        a {
            .text-param (14px, 16px);
            display: block;
            margin-bottom: 5px;
            padding: 5px 5px;
            padding-left: 20px;
            font-weight: 400;
            text-align: left;
            color: @txtMenuColor;
        }

        a:hover {
            background-color: @menuLinkHover;
        }

        a:active {
            background-color: @menuLinkActive;
            box-shadow: none;
        }
    }

    li:first-child {
        a {
            margin-top: 7px;
            margin-bottom: 12px;
            font-weight: 600;
        }
    }
}

.user-block {
    float: right;
    margin-right: 40px;

    ul {
        margin-top: 22px;
        min-height: 33px;

        li {
            display: inline-block;
            margin-right: 5px;

            a {
                .rounded-angle;
                .text-param (14px, 16px);
                display: block;
                padding: 8px 0px;
                text-align: right;
                background-color: @userBlockColor;
            }

        }

        li:first-child {
            width: 33px;
        }

        li:nth-child(2) {
            width: 93px;
            a {
                 padding-right: 20px;
            }
        }

        li:last-child {
            width: 117px;
            margin-right: 0;

            a {
                 padding-right: 37px;
            }
        }
    }
}

.mode {
    float: right;
    text-align: right;

    span {
        .text-param(14px, 20px);
    }

    .phone-number {
        .text-param(22px, 24px);
    }
}
